{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:import/typescript",
    "plugin:css-import-order/recommended"
  ],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [
        ".js", ".jsx", ".ts", ".tsx"
      ]
    }
  },
  "plugins": ["jest", "css-import-order"],
  "env": {
    "jest/globals": true,
    "browser": true
  },
  "rules": {
    "import/order": "error",
    "import/no-unresolved": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "no-use-before-define": "off",
    "no-unused-vars": "off",
    "consistent-return": "off",
    "no-console": ["error", { "allow": ["warn", "error", "info"] }],
    "@typescript-eslint/no-unused-vars": ["error", { "ignoreRestSiblings": true }],
    "@typescript-eslint/no-use-before-define": "warn",
    "import/extensions": ["warn", "never"],
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx", ".tsx"] }],
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "import/prefer-default-export": "off",
    "react/jsx-props-no-spreading": "off",
    "no-shadow": "off",
    "no-param-reassign": ["error", { "props": false }],
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "react/display-name": "off",
    "linebreak-style": 0,
    "import/no-cycle": "warn",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "@typescript-eslint/consistent-type-imports": ["error", {
      "prefer": "type-imports"
    }]
  }
}
